/* src/Sidebar.css */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #ffff;
  color: 4e71EB;
  padding-top: 20px;
  transition: width 0.3s;
  border: 1px solid #dfdfdf;
}

.sidebar-header {
  display: flex;
  justify-content: center;
}
.sidebar-header h2 {
  color: #000 !important;
}
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

.sidebar-item {
  background: #ffff;
  color: black;
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;
}

.sidebar-item a {
  display: flex;
  gap: 5px;
  justify-content: center;
  place-items: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-item.active {
  background-color: rgb(30, 144, 255, 0.34);
  color: #d8ecff;
}

.content {
  margin-left: 200px;
  height: 100%;
  width: 100%;
  transition: margin-left 0.3s;
}

/* Responsive design */
@media (max-width: 768px) {
  .sidebar {
    width: 100px;
  }

  .content {
    margin-left: 100px;
    width: calc(100% - 100px);
  }

  .sidebar-header {
    font-size: 16px;
  }

  .sidebar-menu li {
    padding: 8px;
  }

  .sidebar-menu li a {
    font-size: 14px;
  }
}
