.design-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}
.design-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.design-box {
  padding: 20px;
  border: 1px solid #dfdfdf;
}
.prompt-box {
  margin-top: 20px;
}
.prompt-input {
  height: 50px;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  font-size: 14px;
}
