.design-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.design-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.design-wrapper {
  display: flex;
  flex-direction: column;
}

.loader-container {
  display: flex;
  justify-content: center; /* Horizontally center the loader */
  align-items: center; /* Vertically center the loader */
  height: 100vh; /* Make the container full height of the viewport */
  width: 100%;
}

.prompt-box {
  position: fixed;
  margin-left: 100px;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 999; /* Ensure it appears above other content */
  width: 80%;
}

.Edit_Button{
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  color: rgb(0, 0, 0);

  cursor: pointer;
  margin-left: 10px;
}

/* Designs.css */.designs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly */
}

.design-box {
  width: calc(50% - 20px); /* Adjust as needed for two items per row */
  margin-bottom: 20px; /* Add margin between rows */
}

@media screen and (max-width: 768px) {
  .design-box {
    width: calc(100% - 20px); /* Adjust as needed for smaller screens, where each item occupies the full width */
  }
}