.design-wrapper {
  /* padding: 20px; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.design-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
    padding: 30px;
}

.loader-container {
  display: flex;
  justify-content: center; /* Horizontally center the loader */
  align-items: center; /* Vertically center the loader */
  height: 100vh; /* Make the container full height of the viewport */
  width: 100%;
}

.Edit_Button {
  border: rgb(30, 144, 255);
  border-radius: 8px;
  padding: 5px 10px;
  color: rgb(30, 144, 255);
  background-color: rgb(30, 144, 255, 0.34);
  cursor: pointer;
  margin-left: 10px;
  box-shadow:1px 1px 1px 1px rgb(30, 144, 255)
}
.Edit_Button:hover {
  background-color: rgb(30, 144, 255);
  color: white;
  box-shadow: none;
}
/* Designs.css */
.designs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly */
}

.design-box {
  width: calc(50% - 20px);
  border-radius: 10px; /* Adjust as needed for two items per row */
}
.sp-preview-iframe::-webkit-scrollbar {
  width: 5px !important ;
}

/* Track */
.sp-preview-iframe::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sp-preview-iframe::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sp-preview-iframe::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.snack-box{
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #dfdfdf;
}
.no-designs{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100%;
  color: rgb(30, 144, 255, 0.74);
  font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 768px) {
  .design-box {
    width: calc(
      100% - 20px
    ); /* Adjust as needed for smaller screens, where each item occupies the full width */
  }
}
